<div>
  <button {{action "togglePlay"}} class="media-player-play">
    {{#if shouldPlay}}
      Pause!
    {{else}}
      Play!
    {{/if}}
  </button>

  {{!-- duration will come from the Spotify API --}}
  {{!-- <div class="song-duration">
    Song Duration:
    {{#if songDuration}}
      {{songDuration}}
    {{else}}
      00:00
    {{/if}}
  </div> --}}

  <div class="current-time">
    Current Time:
    {{#if currentTime}}
      {{format-time currentTime}}
    {{else}}
      0:00
    {{/if}}
  </div>

  {{media-player shouldPlay=shouldPlay currentTime=currentTime}}
</div>

