<div class="now-playing-bar">
  <button {{action "togglePlay"}} class="media-player-play">
    {{#if shouldPlay}}
    <span style="font-size: 12px; color: Tomato;">
      <i class="fas fa-pause"></i>
    </span>
    {{else}}
    <span style="font-size: 12px; color: Tomato;">
      <i class="fas fa-play"></i>
    </span>
    {{/if}}
  </button>

  {{!-- duration will come from the Spotify API --}}
  {{!-- <div class="song-duration">
    Song Duration:
    {{#if songDuration}}
    {{songDuration}}
    {{else}}
    00:00
    {{/if}}
  </div> --}}

  <div class="current-time">
    {{#if currentTime}}
    {{format-time currentTime}}
    {{else}}
    0:00
    {{/if}}
  </div>
  {{media-player shouldPlay=shouldPlay currentTime=currentTime audioSource=audioSource}}
</div>
