{{#each model as |album|}}
  <div class="flex mb-4 album-container">
    <div class="w-1/3 album-info-container">
      <div class="album-info-inner">
        <div class="album-cover-art">
          <img src={{album.images.0.url}}>
        </div>

        <div class="album-info">
          <div class="album-title">
            {{album.name}}
          </div>
          <div class="album-artist">
            {{album.artists.0.name}}
          </div>

          <div class="album-info-clump">
            <div class="album-year">
              {{album.release_date}}
            </div>
            <div class="album-total-tracks">
              &nbsp; {{album.total_tracks}} SONGS
            </div>
          </div>
          <div class="album-button-container">
            <button class="album-button playlist-button hover:bg-blue-dark text-white font-bold py-2 px-4 rounded-full">Play</button>
          </div>
        </div>

      </div>
    </div>
    <div class="w-2/3 songs-list">
      {{#each album.items as |track|}}
        <div class="track-name">
          {{track.name}}
        </div>
        <div class="track-duration">
          {{track.duration_ms}}
        </div>
      {{/each}}
    </div>
  </div>
{{/each}}
